body{
background-color: black;
}
.to-do-list{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}

button{
    font-size:1.7rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px, 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.button-class{
background-color: chartreuse;
}
.button-class:hover{
background-color:greenyellow;
}
.remove{
    background-color: crimson;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.remove:hover{
    background-color: chartreuse;
}
.up{
    background-color: aqua;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.up:hover{
    background-color:aquamarine;
}
.down{
    background-color: aqua;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.down:hover{
    background-color: aquamarine;
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: black;
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: azure;
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display:flex;
    align-items: center;
}
.text{
    flex: 1;
}

